header {
  background-color: $color-primary-light;
  .container {
    background-color: $color-primary;
  }
  @include media(mobile) {
    .container {
      background-color: $color-secondary-dark;
    }
  }
}
